{% extends "cfgRepo/base.html" %}
{% block content %}
{% if dir_list %}
    <h1>{{ dir_list.thisDir }}</h1>
    <h2>Subdirectories</h2>
    <ul>
    {% for subdir in dir_list.subdirs %}
        <li><a href="/cfgRepo/dir/{{ subdir.id }}/">{{ subdir.name }}</a></li>
    {% endfor %}
    </ul>
    <h3><a href="/cfgRepo/createDir">Create a subdirectory in this directory</a></h3>
    <h2>Snippets:</h2>
    <ul>
    {% for snippetHistory in dir_list.snippetHistories %}
        <li><a href="/cfgRepo/snippetHistory/{{ snippetHistory.id }}/">{{ snippetHistory.snippetName }}</a></li>
    {% endfor %}
    </ul>
    <h3><a href="/cfgRepo/createSnippetHistory">Create a snippet in this directory</a></h3>
{% else %}
    <p>No snippets or subdirs are available.</p>
    <h3><a href="/cfgRepo/createSnippetHistory">Create a snippet in this directory</a></h3>
    <h3><a href="/cfgRepo/createDir">Create a subdirectory in this directory</a></h3>
{% endif %}
{% endblock %}
