{% extends "cfgRepo/base.html" %}
{% block content %}
<h1>{{ snippetHistory }}</h1>
{% if version_list %}
    <h2>Versions</h2>
    <ul>
    {% for version in version_list %}
        <li><a href="/cfgRepo/snippet/{{ version.id }}/">{{ version.version }}</a></li>
    {% endfor %}
    </ul>
    <h2><a href="/cfgRepo/updateSnippet">Modify this snippet</a></h2>
{% else %}
    <p>No versions are available.</p>
    <h2><a href="/cfgRepo/updateSnippet">Create the first version of this snippet</a></h2>
{% endif %}
{% endblock %}
