body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-weight:600;
}
h2 {
  font-weight:600;
}
h3 {
  font-weight:600;
}
a {
  text-decoration: none;
  color: #0000ff;
}
a:visited {
  color: #0022ee;
}
#nav > a{
  padding-left: 20px;
}
